In [56]:
print("Cl-7, Dictionaries and Sets")

Cl-7, Dictionaries and Sets

In [57]:
my_set = {1 , 2 , 3, 3, 4}
print(my_set)

{1, 2, 3, 4}

In [58]:
my_set_1 = { "Hello", 1 , True , (10, 20, 30, 40)}
print(my_set_1)

{1, 'Hello', (10, 20, 30, 40)}

In [59]:
for item in my_set_1:
    print(item)

1
Hello
(10, 20, 30, 40)

In [60]:
s2 = set() #Empty set is created here, if we don't write set, it will become a dictionary
s2.add(10)
s2.add("Hi")
s2.add("Salu")

In [61]:
s2

{10, 'Hi', 'Salu'}

In [62]:
s = set()  # Creating an empty set

# Using a loop to add elements
for i in range(5):
    s.add(i)

print(s)  # Output: {0, 1, 2, 3, 4}

{0, 1, 2, 3, 4}

In [63]:
print(s.union(s2))

{0, 1, 2, 3, 4, 'Hi', 'Salu', 10}

In [64]:
s.intersection(s2) #this will hence return an empty set

set()

In [65]:
s.add(100)
s

{0, 1, 2, 3, 4, 100}

In [66]:
print(s.discard("true"))
#This will give us none if the element isn't present !

None

In [67]:
len(s)

6

In [68]:
s.add(2)

In [69]:
s1 = set()
for i in range(10):
    s1.add(i*i)

print(s1)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [70]:
s

{0, 1, 2, 3, 4, 100}

In [71]:
3 in s

True

In [72]:
student = {"name": "John", "age": 22, "grade": "A", "Warcry": "Never Out of the fight"}
print(student)  # Output: {'name': 'John', 'age': 22, 'grade': 'A'}
#The key is always unique here !!

# Using dict() constructor
person = dict(name="Alice", age=25, city="New York")
print(person)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}

{'name': 'John', 'age': 22, 'grade': 'A', 'Warcry': 'Never Out of the fight'}
{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [73]:
print(student.get("name"))

John

In [74]:
print(student.get("age"))

22

In [75]:
print(student.get("Warcry")) #When we give the key to the get()

Never Out of the fight

In [76]:
print(student.get("height")) #If we return a not availiable key value

None

In [77]:
for key in student:
    print(key)

name
age
grade
Warcry

In [78]:
for value in student.values():
    print(value)

John
22
A
Never Out of the fight

In [79]:
person.popitem() #basically deletes and returns the element, the last element

('city', 'New York')

In [80]:
person

{'name': 'Alice', 'age': 25}

In [81]:
for key, value in student.items():
    print(f"{key}: {value}")

name: John
age: 22
grade: A
Warcry: Never Out of the fight

In [82]:
#in set we can put in immutable data structures, 
#the structures which we can't change, e.g tuples. , also key should always be unique, which is the property of immutabilty.

In [86]:
person[12] = "Kshitij"

In [87]:
person

{'name': 'Alice', 'age': 25, 12: 'Kshitij'}

In [88]:
student.keys()

dict_keys(['name', 'age', 'grade', 'Warcry'])

In [89]:
student.values()

dict_values(['John', 22, 'A', 'Never Out of the fight'])

In [90]:
22 in student #basically we check the keys not the values

False

In [91]:
"name" in student

True

In [93]:
student["record"] = ( 1 , 2, 3, 4, 5, 6)

In [94]:
student

{'name': 'John',
 'age': 22,
 'grade': 'A',
 'Warcry': 'Never Out of the fight',
 'record': (1, 2, 3, 4, 5, 6)}

In [95]:
student.items()

dict_items([('name', 'John'), ('age', 22), ('grade', 'A'), ('Warcry', 'Never Out of the fight'), ('record', (1, 2, 3, 4, 5, 6))])

In [96]:
for k,v in student.items():
    print(k,v) #This is basically unpacking

name John
age 22
grade A
Warcry Never Out of the fight
record (1, 2, 3, 4, 5, 6)

In [98]:
for k in student: #Here we are accessing elements 
    print(k, student[k])

name John
age 22
grade A
Warcry Never Out of the fight
record (1, 2, 3, 4, 5, 6)

In [99]:
d = {}
for i in range(10):
    d[i] = i*i

In [100]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [101]:
d = { i : i**2 for i in range(10)}

In [102]:
print(d)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [103]:
#strings in python
# Single or double quotes
s1 = 'Hello'
s2 = "World"

# Triple quotes (for multi-line strings)
s3 = '''This is 
a multi-line 
string'''

print(s1, s2)
print(s3)

Hello World
This is
a multi-line
string

In [105]:
l = list(s1)
l

['H', 'e', 'l', 'l', 'o']

In [107]:
l[-1]

'o'

In [108]:
l[0]

'H'

In [110]:
s1[0], s1[2]

('H', 'l')

In [113]:
s1[0:5]

'Hello'

In [117]:
str1 = "123"
str2 = "Hello, I am never out of the fight"
str3 = str(123)
print(id(str1) == id(str3))

False

In [118]:
str1 = "123"
str2 = "Hello"
str3 = str("123")
print(id(str1) == id(str3))

True

In [120]:
name = "Kshitij Sharma"
age = 19
print(f"My name is {name} and I am {age} years old, I am never out of the fight")

My name is Kshitij Sharma and I am 19 years old, I am never out of the fight

In [121]:
str2.split()

['Hello']

In [122]:
s = "apple,banana,cherry"
words = s.split(",")  # ['apple', 'banana', 'cherry']
print(words)

new_s = "-".join(words)
print(new_s)  # "apple-banana-cherry"

['apple', 'banana', 'cherry']
apple-banana-cherry

In [123]:
s = "12345"
print(s.isdigit())  # True (Only numbers)

s = "Hello"
print(s.isalpha())  # True (Only letters)

s = "Hello123"
print(s.isalnum())  # True (Letters + numbers)

s = "hello world"
print(s.isspace())  # False (Not only spaces)

True
True
True
False

In [124]:
s = "Python is fun"
print(s.find("is"))     # 7 (Returns the index)
print(s.replace("fun", "awesome"))  # "Python is awesome"

7
Python is awesome